a {
    text-decoration: none;
}
i {
    position: relative;
    bottom: 1.5px;
}
.logo {
    width: 4rem;
    filter: grayscale(100%);
}
.bg-dark-l {
    background: rgb(49, 49, 49);
}
.carousel img:hover, .part:hover {
    opacity: 90%;
    transition: .2s all ease-in-out;
}
.card {
    transition: .2s all ease-in-out;
}
.card:hover {
    border-top: 10px solid rgb(49, 49, 49);
}